*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Poppins, Montserrat, Tahoma;
}

main {
    margin-left: 5rem;
}

$pink : #FF9293;
$yellow: #FFDD67;
$yellow-second: #FFD131;
$choco: #95776E;

.navbar{
    transition: width 200ms ease;
    position: fixed;
    background-color: $yellow;
    height: 100vh;
    &:hover{
        width: 16rem;
        .link-text{
            display: inline;
        }
    }
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 5rem;
    color: $pink;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
    img{
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
        transform: rotate(0deg);
        transition: 600ms;
    }
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $yellow-second;
    color: #000;
    img{
        transform: rotate(360deg);
    }
  }

.link-text {
    display: none;
    margin-left: 1rem;
}

.active{
    filter: grayscale(0%) opacity(1);
    color: #000;
}

  
@mixin heading(){
    color: $pink;
    font-weight: 700;
    text-align: center;
    font-size: 3.5rem;
}
@mixin content-loops{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}
  .food-category{
    display: flex;
    flex-direction: column; 
    padding: 5rem 10rem;
    padding-top: 1rem;
    h1{
     @include heading();
    }
    .category-content{
        @include content-loops();
         .category-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 2rem;
            .icon-container{
                width: 12rem;
                height: 11rem;
                border-style: solid;
                display: flex;
                justify-content: center;
                img{
                    display: block;
                    width: 80%;
                }
         }
         p{
             font-size: 1.2rem;
             font-weight: bold;
             color: #414040;
         }
        }
    }
    .action{
        .edit{
            border: 1px solid  rgb(252, 152, 58);
            background-color:  rgb(252, 152, 58);
        }
        .delete{
            border: 1px solid  rgb(216, 54, 54);
            background-color:  rgb(216, 54, 54);
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            border-radius: 20px;
            margin: 0.5rem;
            color: #fff;
            font-size: 0.8rem;
            font-weight: bold;
            padding: 5px 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            transition: transform .1s ease-in;
            &:active {
            transform: scale(0.9);
            }
            &:focus {
             outline: none;
            }
        }
    }
 }